.ad-container {
    padding: 2rem;
    margin: 2rem 0;
    border: 2px dashed var(--border-color);
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #999;
    font-weight: 700;
    font-family: var(--font-body);
    border-radius: var(--border-radius);
    min-height: 100px;
}